/*  COLORS */
/* FONTS */
/* PADDINGS */
/* MARGINS */
/* BORDERS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Khula", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 50px;
  line-height: 54px;
  color: #58402c;
  text-align: left;
  margin-bottom: 15px;
}

h2 {
  font-size: 24px;
  text-align: center;
  color: #58402c;
  margin-bottom: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  padding: 8px 12px;
}
.btn img {
  height: 15px;
  margin-right: 5px;
}
.btn p {
  margin-bottom: -5px;
}

.btn-prm {
  background: #2c4792;
  color: #fff;
}

.btn-snd {
  border: 1px solid #2c4792;
  color: #2c4792 !important;
}

.signup_buttons {
  display: flex;
  align-items: center;
  margin: 60px 0 30px;
}
.signup_buttons > * {
  margin-right: 10px;
}
.signup_buttons a:last-child {
  margin-right: 0;
}

.primary_wrapper {
  margin: 0 auto;
  width: 80%;
}

.secondary_wrapper {
  margin: 0 auto;
  width: 96%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  height: 80px;
  border-bottom: 1px solid #58402c;
  padding: 10px 0;
}
#navbar nav {
  display: flex;
}
#navbar nav ul {
  display: flex;
  align-items: center;
}
#navbar nav ul li {
  margin-right: 30px;
  font-size: 16px;
}
#navbar nav ul li a {
  color: #58402c;
}
#navbar nav ul li a span {
  margin-left: 10px;
  font-size: 12px;
}
#navbar nav ul li:last-child {
  margin-right: 0;
}

#jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  color: #58402c;
}
#jumbotron > div {
  width: 45%;
}

#jumbo_pic img {
  width: 100%;
}

#main_subheader {
  font-size: 18px;
}

.signup_mail {
  color: #58402c;
}
.signup_mail i {
  font-size: 12px;
  margin-left: 5px;
}

#top_sections {
  background: #ffe7d2;
}
#top_sections hr {
  margin: 60px 0;
  border: 1px solid #58402c;
}

.top_sect {
  padding: 40px 0;
}

.ts_boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 80px;
  color: #58402c;
  text-align: center;
}

.ts_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ts_box img {
  height: 120px;
}
.ts_box p {
  margin-top: 35px;
}

.ts_single_pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 40px 0;
}
.ts_single_pic img {
  height: 100%;
}

#middle_title {
  background: #ffe7d2;
  padding: 10px 0;
}

#bottom_sections {
  background: #fff;
}

.bott_sect {
  padding: 40px 0;
}

.left_side_sect {
  display: flex;
  justify-content: flex-start;
}

.right_side_sect {
  display: flex;
  justify-content: flex-end;
}

.bs_main_pic {
  width: 50%;
  margin-right: 25px;
}

.bs_main_pic img {
  width: 100%;
}

.bs_text {
  text-align: left;
  width: 450px;
}
.bs_text h2 {
  text-align: left !important;
}
.bs_text a {
  display: block;
  color: #2c4792;
  margin: 20px 0;
}
.bs_text a i {
  font-size: 12px;
  margin-left: 5px;
}
.bs_text .bs_text_pic {
  width: 100%;
}
.bs_text .bs_text_pic img {
  width: 100%;
}

#last_section {
  background: #ffe7d2;
  padding: 40px 0;
}
#last_section h2 {
  font-size: 40px;
}
#last_section .signup_buttons {
  justify-content: center;
}
#last_section .signup_mail {
  display: block;
  text-align: center;
}

#co-founders_box {
  position: relative;
  margin: 0 auto;
  width: 800px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #58402c;
}
#co-founders_box i {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  color: #2c4792;
  font-size: 30px;
}
#co-founders_box .cfb_text {
  color: #58402c;
  font-size: 15px;
}
#co-founders_box .cfb_text p {
  margin: 15px;
}
#co-founders_box .cfb_sign {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
#co-founders_box .cfb_pics {
  display: flex;
  justify-content: flex-start;
}
#co-founders_box .cfb_pic {
  margin-right: 20px;
}
#co-founders_box .cfb_sign_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
#co-founders_box .cfb_names {
  color: #2c4792;
  font-size: 18px;
  margin-bottom: -5px !important;
}
#co-founders_box .cfb_job {
  color: #58402c;
}
