.top_sect {
    padding: $sectionPadding;
}

.top_sect_head {
    @include flex-center;
    height: 150px;
    h2 {
        font-size: 30px;
        color: #fff;
        margin-bottom: 0;
    }
}

.tsh_1 {
    background: $textColor;    
}

.tsh_2 {
    background: $thrCol;    
}

.tsh_3 {
    background: $textColorSnd;    
}

.ts_boxes {
    @include flex-between;
    padding: 0 50px;
    margin-bottom: 80px;
    color: $textColorSnd;
    text-align: center;
}

.ts_box {
    @include flex-vertical;
    img {
        height: 120px;
    }
    p {
        margin-top: 35px;
    }
}

.ts_single_pic {
    @include flex-center;
    height: 300px;
    img {
        height: 100%;
    }
}

#bottom_sections {
    background: #fff;
}

.bott_sect {
    padding: $sectionPadding;
}

.left_side_sect {
    @include flex-left;
}

.right_side_sect {
    @include flex-right;
    h2 {
        color: $textColorSnd;
    }
}

.bs_main_pic {
    width: 50%;
    margin-right: 25px;
}

.bs_main_pic img {
    width: 100%;
}

.bs_text {
    text-align: left; 
    width: 450px;
    h2 {
        text-align: left !important;
    }
    a {
        display: block;
        color: $secondaryColor;
        margin: 20px 0;
        i {
            font-size: 12px;
            margin-left: 5px;
        }
    }
    .bs_text_pic {
        width: 100%;
        img {
            width: 100%;
        }
    }
}


#last_section {
    background: $mainGradient;
    padding: $sectionPadding;
    h2 {
        font-size: 40px;
        color: #fff;
    }
    .signup_buttons {
        justify-content: center;
        p {
            color: #fff;
        }
        a {
            p {
                color: $textColor;
            }
        }
    }
    .signup_mail {
        display: block;
        text-align: center;
        color: #fff;
        i {
            color: #fff;
        }
    }
}

#co-founders_box {
    position: relative;
    margin: $wrapMargin;
    width: 800px;
    padding: 50px;
    background: none;
    border-radius: $bordRad*2;
    border: 2px solid #fff;
    i {
        position: absolute;
        top: 15px;
        left: 18px;
        color: #fff;
        font-size: 30px;
    }
    .cfb_text {
        color: #fff;
        font-size: 16px;
        p {
            margin: 15px;
        }
    }
    .cfb_sign {
        @include flex-left;
        margin-top: 30px;
    }
    .cfb_pics {
        @include flex-left;
    }
    .cfb_pic {
        margin-right: 20px;
    }
    .cfb_sign_text {
        @include flex-vertical-left;
        color: #fff;
    }
    .cfb_names {
        font-size: 18px;
        font-weight: $boldText;
        margin-bottom: -5px !important;
    }
    .cfb_job {
        font-style: italic;
    }
}