footer {
    padding: $sectionPadding;
    background: #fff;
    h3 {
        margin-bottom: 20px;
        color: $textColor;
    }
    ul {
        li {
            font-weight: $boldText;
            color: $textColorSnd;
            font-size: 14px;
        }
    }
}

.ft_flex {
    @include flex-between-top;
    > div {
        width: 180px;
    }
}

#ft_bio {
    width: 350px !important;
    display: flex;
    img {
        height: 50px;
        margin-right: 20px;
    }
    p {
        font-weight: $boldText;
        font-size: 16px;
        color: $textColor;
        a {
            color: $textColorSnd;
            font-size: 14px !important;
        }
    }
}