#navbar {
    @include flex-between;
    background: #fff;
    height: 80px;
    border-bottom: 1px solid $textColor;
    padding: 10px 0;
    nav {
        display: flex;
        ul {
            display: flex;
            align-items: center;
            li {
                margin-right: 30px;
                font-size: $navFontSize;
                a {
                    color: $textColor;
                    span {
                        margin-left: 10px;
                        font-size: 12px;
                    }
                }
            }
            li:last-child {
                margin-right: 0;
            }
        };
    }
}

#jumbotron {
    @include flex-between;
    padding: $sectionPadding;
    color: $textColor;
    > div {
        width: 45%;
    }
}

#jumbo_pic img {
    width: 100%;
}

#main_subheader {
    font-size: 18px;
}

.signup_mail {
    color: $textColor;
    i {
        font-size: 12px;
        margin-left: 5px;
    }
}


