/*  COLORS */

$primaryColor: #ffe7d2;
$secondaryColor: #2c4792;
$textColor: #58402c;

/* FONTS */

$h2FontSize: 24px;
$navFontSize: 16px;
$boldText: 600;

/* PADDINGS */

$sectionPadding: 40px 0;

/* MARGINS */

$h2MargBott: 20px;
$wrapMargin: 0 auto;

/* BORDERS */

$bordRad: 5px;


