/*  COLORS */

$thrCol: #3e14e9;
$primaryColor: #ffe7d2;
$secondaryColor: #2c4792;
$textColor: #0414b3;
$textColorSnd: #7f14d4;
$mainGradient: linear-gradient(215deg, rgba(4,20,179,1) 0%, rgba(62,20,233,1) 50%, rgba(127,20,212,1) 100%);

/* FONTS */

$h2FontSize: 24px;
$navFontSize: 16px;
$boldText: 600;

/* PADDINGS */

$sectionPadding: 60px 0;

/* MARGINS */

$h2MargBott: 20px;
$wrapMargin: 0 auto;

/* BORDERS */

$bordRad: 5px;


